@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


/* ----------------------------------------------- header ----------------------------------------------- */

#nav_header {
    background: #fff;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    padding: 20px;
    position: fixed;
    transition: 0.3s;
    z-index: 100;
}

.sticky {
    padding: 15px !important;
    background: #fffef7f5 !important;
    transition: 0.3s;
}

#logo {
    width: 118px;
}

.left_nav {
    margin-left: 40px;
}

.left_nav .left_nav_links {
    display: inline-block;
    margin-left: 30px;
}

.active_link {
    background: transparent;
    border-bottom: 3px solid #0f708a;
}

.left_nav .left_nav_links .left_nav_links_a {
    text-decoration: none;
    color: #333;
    font-size: 13px;
    letter-spacing: -0.3px;
}

.right_nav {
    margin-left: 60px;
}

.right_nav .right_nav_links {
    display: inline-block;
    margin-left: 20px;
}

.right_nav .right_nav_links .right_nav_links_a {
    text-decoration: none;
    color: #333;
    font-size: 13px;
    letter-spacing: -0.3px;
}

.right_nav .right_nav_links .call_number {
    text-decoration: none;
    color: #333;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -0.3px;
    transition: 0.3s;
}

.right_nav .right_nav_links .call_number:hover {
    color: #f51e52;
}

.right_nav .right_nav_links .in_touch_btn {
    text-decoration: none;
    background: #0f708a;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 30px;
    border-radius: 5px;
    box-shadow: 0 1px 20px rgb(0 0 0 / 20%);
}

.right_nav .right_nav_links .in_touch_btn:hover {
    background: #f51e52;
    color: #fff;
    box-shadow: 0 7px 18px 0 rgb(0 0 0 / 30%);
    transform: translateY(-5px);
    transition: all ease-in-out .3s;
}

#nav_header #menu_open_btn {
    display: none;
    position: fixed;
    background: #0f708a;
    padding: 10px;
    width: 35px;
    top: 3%;
    right: 3%;
}

@media only screen and (max-width:1345px) {
    #nav_header {
        padding: 15px;
    }

    #nav_header #logo {
        width: 90px;
        margin-right: 10px;
        margin-top: 8px;
    }

    #nav_header .left_nav {
        margin-left: 0px;
    }

    #nav_header .left_nav .left_nav_links {
        border: none;
        margin-left: 10px;
    }

    #nav_header .left_nav .left_nav_links .left_nav_links_a {
        font-size: 12px;
        letter-spacing: -0.3px;
    }

    #nav_header .right_nav {
        margin-left: 30px;
    }

    #nav_header .right_nav .right_nav_links {
        display: inline-block;
        margin-left: 10px;
    }

    #nav_header .right_nav .right_nav_links .right_nav_links_a {
        font-size: 12px;
    }

    #nav_header .right_nav .right_nav_links .call_number {
        font-size: 12px;
        font-weight: 600;
    }

    #nav_header .right_nav .right_nav_links .in_touch_btn {
        font-size: 12px;
        font-weight: 400;
        padding: 5px 20px;
    }
}

@media only screen and (max-width:1030px) {
    #nav_header #menu_open_btn {
        display: block;
    }

    #nav_header {
        margin: 0;
        margin-top: -10px;
        display: block;
        background: #fffeed;
        width: 100%;
        height: 102%;
        position: fixed;
        right: -100%;
        transition: 0.5s ease-in-out;
    }

    #nav_header .left_nav {
        text-align: center;
        margin-top: 30px;
    }

    #nav_header .left_nav .left_nav_links {
        display: block;
        margin-top: 20px;
    }

    #nav_header .left_nav .left_nav_links .left_nav_links_a {
        font-size: 14px;
        font-weight: 500;
    }

    #nav_header .right_nav {
        margin: 0;
        text-align: center;
    }

    #nav_header .right_nav .right_nav_links {
        display: block;
        margin-top: 20px;
    }

    #nav_header .right_nav .right_nav_links .right_nav_links_a {
        font-size: 14px;
        font-weight: 500;
    }

    #nav_header .right_nav .right_nav_links .call_number {
        font-size: 15px;
        font-weight: 700;
    }

    #nav_header .right_nav .right_nav_links .in_touch_btn {
        font-size: 15px;
        font-weight: 700;
    }

}

/* ----------------------------------------------- main content ----------------------------------------------- */

#banner {
    height: 200vh;
    padding-top: 60px;
}

.website_design_1 {
    background-color: #f5faff;
    padding: 30px;
}

.website_design_1_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.website_design_1_content h1 {
    color: #c19260;
    margin-bottom: 20px;
    letter-spacing: 0;
    font-size: 34px;
    font-weight: 500;
}

.website_design_1_content p {
    line-height: 1.6;
    margin: 0 0 1em 0;
    font-size: 18px;
    margin-right: 10px;
    font-weight: 300;
    color: #474747;
    font-family: 'Roboto', sans-serif;
}

.website_design_1_content a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #c19260;
    transition: 0.3s;
}

.website_design_1_content a:hover {
    color: #f51e52;
}

.website_design_1_img img {
    width: 750px;
}

.website_design_1_2 {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.website_design_2_img {
    width: 100%;
    padding-left: 130px;
    padding-right: 130px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.website_design_2_img li {
    list-style: none;
    margin: 10px;
}

.website_design_2_img li img {
    width: 140px;
    filter: grayscale(1);
    opacity: 0.5;
}

.website_design_2_img li img:hover {
    filter: grayscale(0);
    opacity: 1;
}

.testimonial_2 {
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.testmonial_no_1 {
    text-align: center;
}

.stars-icon {
    color: #ffde86;
    font-size: 18px;
}

.testmonial_no_1_content {
    letter-spacing: -0.3px;
    margin: 20px 0;
    line-height: 1.6;
    font-size: 18px;
    font-weight: 300;
    color: #000;
}

.top_rated_awards {
    margin-top: 50px;
    margin-bottom: 50px;
}

.top_rated_awards_2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_rated_awards_ul {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top_rated_awards_ul li {
    cursor: pointer;
    display: inline-block;
    transition: 0.2s;
}

.top_rated_awards_ul li:hover {
    transform: translateY(-5px);
}

@media only screen and (max-width:1140px) {

    #banner {
        padding-top: 20px;
    }

    .website_design_1 {
        padding: 15px;
    }

    .website_design_1_content h1 {
        font-size: 26px;
    }

    .website_design_1_content p {
        line-height: 1.6;
        font-size: 18px;
    }

    .website_design_1_content a {
        font-size: 12px;
    }

    .website_design_1_img img {
        width: 550px;
    }

    .website_design_1_2 {
        padding-top: 30px;
    }

    .website_design_2_img {
        padding-left: 80px;
        padding-right: 80px;
    }

    .website_design_2_img li img {
        width: 100px;
    }

    .stars-icon {
        font-size: 16px;
    }

    .testmonial_no_1_content {
        margin: 10px 0;
        font-size: 14px;
    }

    .testmonial_name {
        font-size: 14px;
    }

    .top_rated_awards_ul li img {
        width: 100px;
    }
}

@media only screen and (max-width:990px) {
    .website_design_1 {
        padding: 15px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .website_design_1_content h1 {
        font-size: 20px;
    }

    .website_design_1_content p {
        line-height: 1.6;
        font-size: 14px;
    }

    .website_design_1_content a {
        font-size: 12px;
    }

    .website_design_1_img img {
        width: 400px;
    }
}

@media only screen and (max-width:860px) {

    #banner {
        padding-top: 50px;
    }

    .website_design_1 {
        padding: 10px;
    }

    .website_design_1_content {
        width: auto;
        margin-left: 5px;
        margin-right: 5px;
    }

    .website_design_1_content h1 {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .website_design_1_content p {
        line-height: 1.6;
        margin-bottom: 5px;
        font-size: 12px;
    }

    .website_design_1_content a {
        font-size: 10px;
    }

    .website_design_1_img img {
        width: 200px;
    }

    .website_design_1_2 {
        padding-top: 30px;
    }

    .website_design_2_img {
        padding-left: 20px;
        padding-right: 20px;
    }

    .website_design_2_img li img {
        width: 80px;
    }

    .testmonial_no_1_content {
        font-size: 12px;
    }

    .top_rated_awards_ul {
        width: 100%;
    }

    .top_rated_awards_ul li img {
        width: 70px;
    }
}

@media only screen and (max-width:550px) {

    #banner {
        padding-top: 50px;
    }

    .website_design_1_1 {
        display: block;
    }

    .website_design_1 {
        padding: 10px;
    }

    .website_design_1_content {
        width: auto;
    }

    .website_design_1_content h1 {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .website_design_1_content p {
        line-height: normal;
        margin-bottom: 5px;
        font-size: 10px;
    }

    .website_design_1_content a {
        font-size: 8px;
    }

    .website_design_1_img {
        display: flex;
        justify-content: center;
    }

    .website_design_1_img img {
        width: 200px;
    }

    .website_design_1_2 {
        padding-top: 30px;
    }

    .website_design_2_img {
        padding-left: 20px;
        padding-right: 20px;
    }

    .website_design_2_img li img {
        width: 60px;
    }

    .testimonial_2 {
        padding-top: 30px;
    }

    .stars-icon {
        font-size: 12px;
    }

    .testmonial_no_1_content {
        font-size: 10px;
    }

    .top_rated_awards {
        margin-top: 50px;
    }

    .top_rated_awards_ul {
        width: 100%;
    }

    .top_rated_awards_ul li img {
        width: 50px;
    }
}

@media only screen and (max-width:390px) {

    #banner {
        padding-top: 50px;
    }

    .website_design_1 {
        padding: 10px;
    }

    .website_design_1_content {
        max-width: 400px;
    }

    .website_design_1_content h1 {
        font-size: 14px;
        margin-bottom: 5px;
        letter-spacing: normal;
    }

    .website_design_1_content p {
        line-height: 1.6;
        margin-bottom: 5px;
        font-size: 10px;
    }

    .website_design_1_content a {
        font-size: 8px;
    }

    .website_design_1_img img {
        width: 150px;
    }

    .website_design_1_2 {
        padding-top: 30px;
    }

    .website_design_2_img {
        padding-left: 20px;
        padding-right: 20px;
    }

    .website_design_2_img li img {
        width: 40px;
    }

    .testimonial_2 {
        padding-top: 30px;
    }

    .testmonial_no_1 {
        margin: 15px;
    }

    .stars-icon {
        font-size: 12px;
    }

    .testmonial_no_1_content {
        font-size: 10px;
    }

    .top_rated_awards {
        margin-top: 50px;
    }

    .top_rated_awards_ul {
        width: 100%;
    }

    .top_rated_awards_ul li img {
        width: 50px;
    }
}

.case_studies {
    text-align: center;
    margin-top: 70px;
    padding: 0px 15px 40px;
}

.case_studies h1 {
    color: #c19260;
    font-size: 34px;
    font-weight: 500;
    letter-spacing: -0.8px;
    margin: 0px 0px 20px;
}

.case_studies p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.3px;
    line-height: 32px;
    margin: 0px 50px 20px;
    color: rgb(43, 43, 43);
}

.case_study_one {
    background-color: #f8fbfe;
    padding: 80px 60px 30px;
    margin-bottom: 100px;
}

.case_study_one_2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.case_study_one_img img {
    width: 750px;
}

.case_study_two {
    background-color: #eefff7;
}

.case_study_three {
    background-color: #fef7ff;
}

.portfolio_in img {
    margin-bottom: 50px;
}

.portfolio_in h1 {
    color: #d0753f;
    font-size: 34px;
    font-family: Heebo, sans-serif;
    font-weight: 600;
    margin: 0px 0px 20px;
}

.portfolio_in p {
    color: #474747;
    line-height: 1.6;
    margin: 0px 0px 20px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.portfolio_in a {
    font-size: 16px;
    text-decoration: none;
    color: #d0753f;
    font-weight: 500;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
}

.portfolio_in a:hover {
    color: #f51e52;
}

.portfolio_two h1 {
    color: #78b899;
}

.portfolio_two a {
    color: #78b899;
}

.portfolio_three h1 {
    color: #906696;
}

.portfolio_three a {
    color: #906696;
}

@media only screen and (max-width:1320px) {

    .case_study_one {
        background-color: #f8fbfe;
    }

    .case_studies {
        padding: 0px 10px 20px;
    }

    .case_studies h1 {
        font-size: 28px;
    }

    .case_studies p {
        font-size: 16px;
        line-height: 28px;
        margin: 0px 0px 20px;
    }

    .case_study_one {
        padding: 20px 30px 10px;
        margin-bottom: 100px;
    }

    .case_study_one_img img {
        width: 550px;
    }

    .portfolio_in img {
        margin-bottom: 30px;
        width: 150px;
    }

    .portfolio_in h1 {
        font-size: 24px;
    }

    .portfolio_in p {
        font-size: 16px;
    }

    .portfolio_in a {
        font-size: 14px;
    }

}

@media only screen and (max-width:925px) {

    .case_study_one {
        background-color: #f8fbfe;
    }

    ._case_study_div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .case_studies {
        width: 100%;
        margin-top: 60px;
        padding: 0px 5px 10px;
    }

    .case_studies h1 {
        color: #0f708a;
        font-size: 24px;
        letter-spacing: -0.6px;
    }

    .case_studies p {
        font-size: 14px;
        letter-spacing: -0.2px;
        line-height: normal;
        margin: 0px 0px 15px;
    }

    .case_study_one {
        padding: 10px 15px 5px;
        margin-bottom: 80px;
    }

    .case_study_one_img img {
        width: 300px;
    }

    .portfolio_in img {
        margin-bottom: 30px;
        width: 130px;
    }

    .portfolio_in h1 {
        font-size: 18px;
    }

    .portfolio_in p {
        font-size: 14px;
    }

    .portfolio_in a {
        font-size: 12px;
    }

}

@media only screen and (max-width:660px) {

    .case_study_one {
        background-color: #f8fbfe;
    }

    .case_studies {
        width: 100%;
        margin-top: 40px;
        padding: 0px 5px 10px;
    }

    .case_studies h1 {
        margin-bottom: 5px;
        font-size: 14px;
        letter-spacing: -0.3px;
    }

    .case_studies p {
        font-size: 10px;
        margin: 0px 0px 15px;
    }

    .case_study_one {
        padding: 0px 0px 0px;
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .case_study_one_img img {
        width: 230px;
    }

    .portfolio_in {
        margin-left: 10px;
    }

    .portfolio_in img {
        margin-bottom: 5px;
        width: 80px;
    }

    .portfolio_in h1 {
        font-size: 14px;
        margin: 0px 0px 10px;
    }

    .portfolio_in p {
        margin: 0px 0px 5px;
        font-size: 12px;
    }

    .portfolio_in a {
        font-size: 10px;
    }
}

@media only screen and (max-width:400px) {

    .case_study_one {
        background-color: #f8fbfe;
    }

    .case_studies {
        width: 100%;
        margin-top: 40px;
        padding: 0px 5px 10px;
    }

    .case_studies h1 {
        margin-bottom: 5px;
        font-size: 12px;
        letter-spacing: -0.3px;
    }

    .case_studies p {
        font-size: 8px;
        margin: 0px 0px 15px;
    }

    .case_study_one {
        padding: 0px 0px 0px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .case_study_one_img img {
        width: 130px;
    }

    .portfolio_in {
        margin-left: 10px;
    }

    .portfolio_in img {
        margin-bottom: 5px;
        width: 80px;
    }

    .portfolio_in h1 {
        font-size: 12px;
        margin: 0px 0px 0px;
    }

    .portfolio_in p {
        margin: 0px 0px 0px;
        font-size: 10px;
    }

    .portfolio_in a {
        font-size: 8px;
    }
}

.the_steps_heading_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.the_steps_heading_2 h1 {
    color: #c19260;
    font-size: 34px;
    font-weight: 500;
    margin: 0px 0px 20px;
}

.discover_strat {
    background-color: #2b2b2b;
    margin: 15px;
    margin-top: 50px;
}

.discover_strat_2 {
    padding: 80px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.discover_strat_content {
    width: 510px;
}

.discover_strat_content h1 {
    font-size: 34px;
    margin: 0px 0px 20px;
    letter-spacing: -0.2px;
    color: #c19260;
    font-weight: 500;
}

.discover_strat_content p {
    font-size: 18px;
    letter-spacing: -0.2px;
    font-family: 'Roboto', sans-serif;
    margin: 0px 0px 18px;
    font-weight: 300;
    color: #cccccc;
    line-height: 1.6;
}

.discover_strat_content p a {
    color: #78b899;
    font-weight: 400;
    transition: 0.3s;
}

.discover_strat_content p a:hover {
    color: #f51e52;
    text-decoration: none;
}

.discover_strat_img img {
    width: 650px;
}

.project_love {
    margin-top: 100px;
}

.project_love_a {
    text-align: center;
}

.project_love_a a {
    text-decoration: none;
    color: #0f708a;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.project_love_slider {
    margin-top: 30px;
}

.trusted_company {
    background-color: #f9f9f9;
    padding: 100px 0;
    margin-top: 100px;
}

.trusted_company_1 {
    display: flex;
    justify-content: space-around;
    padding: 0 15px 0 15px;
    align-items: center;
}

.trusted_company_title h1 {
    color: #c19260;
    font-size: 34px;
    font-family: Heebo, sans-serif;
    margin: 0px 0px 50px;
    font-weight: 500;
    text-align: center;
}

.our_people {
    background: #c19260;
    padding: 50px 30px;
    border-radius: 10px;
    width: 48%;
    height: 640px;
}

.our_people:hover {
    background: #5d5d5d;
}

.our_people_title {
    display: flex;
    align-items: center;
}

.our_people_title h1 {
    color: #fff;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    padding: 0px 0px 0px 20px;
    font-weight: 500;
    letter-spacing: -1px;
}

.our_people_content p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin: 30px 0px 50px;
    font-weight: 300;
    line-height: 1.6;
}

.trusted_company_content {
    width: 48%;
    padding-right: 35px;
}

.trusted_company_content p {
    line-height: 1.6;
    margin: 0 0 1em 0;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #474747;
}

@media only screen and (max-width:1185px) {
    .trusted_company {
        margin-top: 50px;
    }

    .trusted_company_1 {
        padding: 0 10px 0 10px;
    }

    .trusted_company_title h1 {
        font-size: 24px;
        margin: 0px 0px 30px;
    }

    .our_people {
        padding: 30px 15px;
        height: auto;
    }

    .our_people_title img {
        width: 30px;
    }

    .our_people_title h1 {
        font-size: 16px;
        padding: 0px 0px 0px 10px;
        letter-spacing: normal;
    }

    .our_people_content p {
        font-size: 12px;
        margin: 10px 0px 15px;
    }

    .trusted_company_content {
        padding-right: 15px;
    }

    .trusted_company_content p {
        font-size: 14px;
    }
}

@media only screen and (max-width:920px) {
    .trusted_company {
        padding: 50px 0px;
        margin-top: 50px;
    }

    .trusted_company_1 {
        padding: 0 10px 0 10px;
        display: block;
    }

    .trusted_company_title h1 {
        font-size: 16px;
        margin: 0px 0px 15px;
    }

    .our_people {
        padding: 15px 8px;
        height: auto;
        width: auto;
        margin-bottom: 30px;
    }

    .our_people_title img {
        width: 20px;
    }

    .our_people_title h1 {
        font-size: 14px;
        padding: 0px 0px 0px 10px;
        letter-spacing: normal;
    }

    .our_people_content p {
        font-size: 12px;
        margin: 10px 0px 15px;
    }

    .trusted_company_content {
        padding-right: 10px;
        padding-left: 10px;
        width: auto;
    }

    .trusted_company_content p {
        font-size: 12px;
    }
}

.website_design_2 {
    padding: 100px 0;
    background: none;
}

.website_design_3 {
    padding: 100px 0;
    padding-left: 15px;
    padding-right: 15px;
    background: #f5f5f5;
}

.website_design_4 {
    background: none;
}

.things {
    background-color: #f5faff;
    margin: 15px;
    margin-top: 30px;
    padding: 100px 0;
}

.title {
    text-align: center;
}

.title h1 {
    color: #0f708a;
    font-size: 34px;
    font-weight: 500;
    margin: 0px 0px 20px;
    font-family: 'Heebo', sans-serif;
}

.title p {
    font-size: 18px;
    font-weight: 300;
    color: #333;
    margin: 0px 0px 20px;
    letter-spacing: -0.2px;
}

.thing_content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

.side_title {
    margin: 30px 0 0;
    border-right: 5px solid #0f708a;
    width: 350px;
    height: 45px;
    display: flex;
    align-items: center;
    transform: translateY(-10px);
}

.side_title h3 {
    transform: translateY(-8px);
    letter-spacing: -0.3px;
    color: #0f708a;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.thing_content p {
    padding: 20px;
    padding-left: 0%;
    width: 860px;
    font-size: 18px;
    letter-spacing: -0.2px;
    font-weight: 300;
    color: #333;
}

.thing_content p a {
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
    color: #0f708a;
    transition: 0.3s;
}

.thing_content p a .fa {
    font-size: 10px;
}

.thing_content p a:hover {
    color: #f51e52;
}

@media only screen and (max-width:1250px) {

    .the_steps_heading_2 h1 {
        font-size: 24px;
    }

    .the_steps_heading_2 p {
        font-size: 16px;
        margin: 0px 20px 20px;
    }

    .the_steps_heading_2 p a {
        font-weight: 400;
    }

    .discover_strat {
        margin: 10px;
        margin-top: 30px;
    }

    .discover_strat_2 {
        padding: 40px 10px;
    }

    .discover_strat_content {
        width: 40%;
    }

    .discover_strat_content h1 {
        font-size: 28px;
        color: #78b899;
    }

    .discover_strat_content p {
        font-size: 14px;
        margin: 0px 0px 14px;
        line-height: 20px;
    }

    .discover_strat_img img {
        width: 350px;
    }

    .things {
        margin: 10px;
        padding: 40px 0;
    }

    .title h1 {
        font-size: 28px;
    }

    .title p {
        font-size: 14px;
    }

    .thing_content {
        margin-top: 60px;
    }

    .side_title {
        margin: 10px 0px;
        border-right: 3px solid #0f708a;
        width: 210px;
        height: 40px;
        padding-right: 5px;
    }

    .side_title h3 {
        font-size: 14px;
    }

    .thing_content p {
        padding: 0px;
        width: 750px;
        font-size: 14px;
    }

    .thing_content p a {
        font-size: 14px;
    }

    .thing_content p a .fa {
        font-size: 8px;
    }

    .before_after {
        margin-top: 60px;
    }

    .before_after_title {
        margin-bottom: 40px;
    }

    .before_after_title h1 {
        font-size: 28px;
    }

    .before_after_img img {
        width: 500px;
    }

    .before_after_result {
        height: 320px;
        padding: 10px;
        width: 200px;
    }

    .conversion_after h3 {
        font-size: 22px;
        letter-spacing: normal;
    }

    .conversion_after h2 {
        font-size: 18px;
        margin: 0px 0px 3px;
    }

    .conversion_after_after::after {
        content: "";
        position: relative;
        height: 30px;
    }

    .goal_after_after::after {
        content: "";
        position: relative;
        height: 30px;
    }
}

@media only screen and (max-width:990px) {

    .the_steps_heading_2 h1 {
        font-size: 20px;
    }

    .the_steps_heading_2 p {
        font-size: 12px;
        margin: 0px 20px 20px;
    }

    .discover_strat {
        margin-top: 20px;
    }

    .discover_strat_2 {
        padding: 20px 5px;
    }

    .discover_strat_content {
        width: 35%;
    }

    .discover_strat_content h1 {
        font-size: 18px;
        color: #78b899;
        margin: 0px 0px 10px;
    }

    .discover_strat_content p {
        font-size: 12px;
        margin: 0px 0px 5px;
        line-height: 15px;
    }

    .discover_strat_img img {
        width: 200px;
    }

    .things {
        margin: 10px;
        padding: 20px 0;
    }

    .title h1 {
        font-size: 20px;
        margin: 0px 0px 0px;
    }

    .title p {
        font-size: 12px;
    }

    .thing_content {
        margin-top: 40px;
    }

    .side_title {
        margin: 10px 0px;
        border-right: 2px solid #0f708a;
        width: 120px;
        height: 50px;
        padding-right: 3px;
        margin-right: 3px;
    }

    .side_title h3 {
        font-size: 10px;
    }

    .thing_content p {
        width: 600px;
        font-size: 10px;
        letter-spacing: normal;
    }

    .thing_content p a {
        font-size: 10px;
    }

    .thing_content p a .fa {
        font-size: 8px;
    }

    .before_after {
        margin-top: 40px;
    }

    .before_after_title {
        margin-bottom: 30px;
    }

    .before_after_title h1 {
        font-size: 16px;
    }

    .before_after_img img {
        width: 350px;
    }

    .before_after_result {
        height: 250px;
        padding: 10px;
        width: 150px;
    }

    .conversion_after h3 {
        font-size: 16px;
        letter-spacing: normal;
    }

    .conversion_after h2 {
        font-size: 14px;
        margin: 0px 0px 3px;
    }

    .conversion_after_after::after {
        content: "";
        position: relative;
        height: 15px;
    }

    .goal_after_after::after {
        content: "";
        position: relative;
        height: 15px;
    }
}

@media only screen and (max-width:610px) {

    .the_steps_heading_2 h1 {
        font-size: 14px;
        margin: 0px 0px 5px;
    }

    .the_steps_heading_2 p {
        font-size: 10px;
        margin: 0px 0px 20px;
    }

    .discover_strat {
        margin-top: 20px;
    }

    .discover_strat_2 {
        padding: 15px 5px;
    }

    .discover_strat_content {
        width: auto;
    }

    .discover_strat_content h1 {
        font-size: 12px;
        margin: 0px 0px 10px;
    }

    .discover_strat_content p {
        font-size: 10px;
        margin: 0px 0px 5px;
        line-height: normal;
    }

    .discover_strat_img img {
        width: 150px;
    }

    .things {
        margin: 10px;
        padding: 20px 0;
    }

    .title h1 {
        font-size: 14px;
        margin: 0px 0px 0px;
    }

    .title p {
        font-size: 10px;
    }

    .thing_content {
        margin-top: 30px;
    }

    .side_title {
        margin: 5px 0px;
        border-right: 2px solid #0f708a;
        width: 80px;
        height: 20px;
        padding-right: 3px;
        margin-right: 3px;
    }

    .side_title h3 {
        font-size: 6px;
        letter-spacing: normal;
    }

    .thing_content p {
        width: 400px;
        font-size: 8px;
        letter-spacing: normal;
    }

    .thing_content p a {
        font-size: 8px;
    }

    .thing_content p a .fa {
        font-size: 6px;
    }

    .before_after {
        margin-top: 20px;
    }

    .before_after_title {
        margin-bottom: 20px;
    }

    .before_after_title h1 {
        font-size: 12px;
    }

    .before_after_img img {
        width: 220px;
    }

    .before_after_result {
        height: 170px;
        padding: 6px;
        width: 120px;
    }

    .conversion_after h3 {
        font-size: 8px;
        letter-spacing: normal;
    }

    .conversion_after h2 {
        font-size: 10px;
        margin: 0px 0px 3px;
    }

    .conversion_after_after::after {
        content: "";
        position: relative;
        height: 10px;
        width: 1px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .goal_after_after::after {
        content: "";
        position: relative;
        height: 10px;
        width: 1px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.client_testimonials {
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
}

.testimonial_title h1 {
    text-align: center;
    font-size: 34px;
    color: #0f708a;
    font-weight: 500;
    margin: 0px 0px 20px;
    font-family: Heebo, sans-serif;
}

.client_testimonials_slider {
    background-color: #f5f5f5;
    padding: 150px 0;
    margin: 20px 0 40px 0;
}

.client_testimonials_card {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.client_testimonials_content {
    width: 555px;
}

.client_testimonials_content img {
    margin-bottom: 25px;
    width: 225px !important;
}

.client_testimonials_content p {
    font-size: 18px;
    line-height: 34px;
    color: #333;
    font-weight: 300;
    margin: 0px 0px 20px;
}

.client_testimonials_content h4 {
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.client_testimonials_img {
    z-index: 1;
}

.client_testimonials_img img {
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 50px;
    width: 482px !important;
    height: 322px !important;
}

.client_testimonials_img_over_lap {
    position: relative;
    background-color: #0f708a;
    height: 320px;
    width: 410px;
    margin-left: 120px;
    margin-top: -285px;
    border-radius: 5px;
    z-index: -1;
    transition: all .6s ease-in-out 0s;
}

.client_testimonials_img:hover .client_testimonials_img_over_lap {
    margin-left: 72px;
}

.good_company {
    margin-top: 100px;
}

.good_company .good_company_title h1 {
    text-align: center;
    font-size: 34px;
    color: #0f708a;
    font-weight: 500;
    margin: 0px 0px 20px;
    font-family: Heebo, sans-serif;
}

.good_company .good_company_title p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    font-weight: 300;
    text-align: center;
}

.good_company_img {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.good_company_img li {
    list-style: none;
}

.good_company_img li img {
    width: 130px;
}

.good_company_img li img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.faqs {
    margin-top: 50px;
    user-select: none;
}

.faqs_title {
    margin-left: 30px;
}

.faqs_title h2 {
    color: #0f708a;
    font-size: 34px;
    font-weight: 500;
    font-family: Heebo, sans-serif;
}

.faqs_1 {
    margin: 15px;
    cursor: pointer;
    border-bottom: 1px solid rgba(201, 201, 201, 0.801);
}

.faqs_1 details summary {
    color: #0f708a;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    padding: 15px;
    font-size: 20px;
    transition: 0.5s;
}

.faqs_1 details p {
    width: 80%;
    padding: 0px 0px 20px 22px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #222;

}

/* --------------------------------------------------- footer --------------------------------------------------- */

.subscribe {
    background-color: #16253d;
    padding: 60px 0;
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
}

.subscribe_2 {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.news_letter_detail {
    width: 600px;
}

.news_letter_detail p {
    position: relative;
    padding-left: 90px;
    font-family: Heebo, sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 0;
    line-height: 1.6;
    color: #fff;
}

.news_letter_detail p::before {
    content: url(envelope-subscribe.png);
    position: absolute;
    left: 0;
    top: 0;
}

.news_letter #full_name {
    height: 50px;
    font-size: 18px !important;
    font-weight: 300;
    color: grey;
    outline: 0;
    font-style: normal !important;
    border-radius: 3px;
    border: none;
    padding: 15px;
}

.news_letter #email_name {
    height: 50px;
    font-size: 18px !important;
    font-weight: 300;
    color: grey;
    outline: 0;
    font-style: normal !important;
    border-radius: 3px;
    border: none;
    padding: 15px;
}

#submit {
    background: #f51e52;
    font-weight: 600;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    border: none;
    transition: 0.5s;
    padding: 11px 35px;
    cursor: pointer;
}

#submit:hover {
    color: #f51e52;
    background: #fff;
}

@media only screen and (max-width:1275px) {
    .subscribe_2 {
        align-items: center;
        justify-content: center;
    }

    .news_letter_detail p {
        position: relative;
        font-family: Heebo, sans-serif;
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 0;
        line-height: 1.6;
        color: #fff;
    }


    .news_letter {
        margin-top: 20px;
        width: 300px;
        text-align: center;
    }

    .news_letter #full_name {
        height: 50px;
        font-size: 18px !important;
        font-weight: 300;
        color: grey;
        outline: 0;
        font-style: normal !important;
        border-radius: 3px;
        border: none;
        padding: 15px;
        margin: 5px;
    }


    .news_letter #email_name {
        height: 50px;
        font-size: 18px !important;
        font-weight: 300;
        color: grey;
        outline: 0;
        font-style: normal !important;
        border-radius: 3px;
        border: none;
        padding: 15px;
        margin: 5px;
    }

    .news_letter #submit {
        margin: 5px;
        width: 245px;
    }
}


.contact {
    background-image: url(contact_banner.png);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin-top: 200px;
    margin-left: 15px;
    margin-right: 15px;
}

.contact_1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact_form {
    background-color: #16253d;
    padding: 50px;
    width: 420px;
    background: #16253d;
}

.contact_title h1 {
    font-family: Heebo, sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 28px;
    margin: 0px 0px 10px;
}

.contact_form input {
    padding-left: 15px;
    margin-top: 15px;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    outline: none;
}

.contact_submit_btn {
    margin-top: 30px;
    background: #f51e52;
    color: #fff;
    font-style: normal !important;
    font-size: 20px !important;
    cursor: pointer;
    font-weight: 600 !important;
    text-align: center;
    transition: .15s;
}

.contact_submit_btn:hover {
    border: 1px solid #f51e52;
    background: transparent;
    color: #f51e52;
}

@media only screen and (max-width:1250px) {
    .client_testimonials {
        margin-left: 10px;
        margin-right: 10px;
    }

    .testimonial_title h1 {
        font-size: 28px;
    }

    .client_testimonials_slider {
        padding: 130px 0;
    }

    .client_testimonials_card {
        padding: 15px;
    }

    .client_testimonials_content {
        width: 350px;
    }

    .client_testimonials_content img {
        margin-bottom: 25px;
        width: 130px !important;
    }

    .client_testimonials_content p {
        font-size: 14px;
        line-height: normal;
    }

    .client_testimonials_content h4 {
        font-size: 16px;
    }

    .client_testimonials_img img {
        margin-top: 20px;
        margin-right: 30px;
        width: 360px !important;
        height: 240px !important;
    }

    .client_testimonials_img_over_lap {
        display: none;
    }

    .good_company .good_company_title h1 {
        font-size: 24px;
    }

    .good_company .good_company_title p {
        font-size: 14px;
    }

    .good_company_img {
        margin-top: 30px;
    }

    .good_company_img li img {
        width: 90px;
    }

    .faqs {
        margin-top: 30px;
    }

    .faqs_title {
        margin-left: 15px;
    }

    .faqs_title h2 {
        font-size: 24px;
    }

    .faqs_1 {
        margin: 10px;
    }

    .faqs_1 details summary {
        padding: 10px;
        font-size: 14px;
    }

    .faqs_1 details p {
        padding: 0px 0px 15px 11px;
        font-size: 14px;
        line-height: normal;
    }

    .contact {
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .contact_form {
        padding: 20px;
        width: 380px;
    }

    .contact_title h1 {
        font-size: 24px;
    }

    .contact_form input {
        padding-left: 10px;
        margin-top: 10px;
        height: 35px;
        font-size: 12px;
    }
}

@media only screen and (max-width:800px) {
    .client_testimonials {
        margin-left: 8px;
        margin-right: 8px;
    }

    .testimonial_title h1 {
        font-size: 20px;
    }

    .client_testimonials_slider {
        padding: 20px 0;
    }

    .client_testimonials_card {
        padding: 10px;
    }

    .client_testimonials_content {
        width: auto;
        margin-left: 5px;
    }

    .client_testimonials_content img {
        margin-bottom: 10px;
        width: 60px !important;
    }

    .client_testimonials_content p {
        font-size: 8px;
        line-height: normal;
    }

    .client_testimonials_content h4 {
        font-size: 10px;
    }

    .client_testimonials_img img {
        margin-top: 20px;
        margin-right: -5px;
        width: 100px !important;
        height: 65px !important;
    }

    .good_company .good_company_title h1 {
        font-size: 18px;
    }

    .good_company .good_company_title p {
        font-size: 10px;
    }

    .good_company_img {
        margin-top: 20px;
    }

    .good_company_img li img {
        width: 40px;
    }

    .faqs {
        margin-top: 50px;
    }

    .faqs_title {
        margin-left: 15px;
    }

    .faqs_title h2 {
        font-size: 16px;
    }

    .faqs_1 {
        margin: 10px;
    }

    .faqs_1 details summary {
        padding: 10px;
        font-size: 10px;
    }

    .faqs_1 details p {
        font-size: 10px;
        line-height: normal;
    }

    .contact {
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .contact_1 {
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .contact_form {
        padding: 20px;
        width: 340px;
    }

    .contact_title h1 {
        font-size: 20px;
    }

    .contact_form input {
        padding-left: 10px;
        margin-top: 10px;
        height: 35px;
        font-size: 12px;
    }

    .contact_submit_btn {
        font-size: 14px !important;
        font-weight: 500 !important;
    }
}

#_footer_ {
    background: #16253d;
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

#_footer_ .footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}

.footer_2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_logo {
    margin-right: 60px;
}

.footer_bottom {
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer_bottom li {
    list-style: none;
}

.footer_bottom h3 {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: normal;
}

.footer_bottom p {
    letter-spacing: -0.3px;
    margin-top: 5px;
    color: #fff;
    font-size: 13px;
    line-height: 32px;
    font-weight: 300;
    padding-left: 15px;
}

.footer_bottom .fa-map-marker {
    color: #f51e52;
    font-size: 18px;
    margin-right: 5px;
}

._email_footer_ {
    border: none;
}

._email_footer_ .fa-envelope {
    color: #f51e52;
    font-size: 18px;
    margin-right: 10px;
}

._email_footer_ .email_written {
    margin-top: 15px;
    color: #fff;
    font-weight: 300;
    font-size: 13px;
    transition: 0.5s;
}

._email_footer_ .email_written:hover {
    color: #f51e52;
    text-decoration: none;
}

._email_footer_ .social_icons li {
    display: inline-block;
    margin-top: 20px;
}

._email_footer_ .social_icons li .fa {
    font-size: 20px;
    color: #f51e52;
    transition: 0.5s;
    margin-left: 15px;
}

._email_footer_ .social_icons li .fa:hover {
    color: #fff;
}

.copright_footer {
    margin-top: 60px;
    padding: 15px;
    border-top: 1px solid rgba(255, 255, 255, .1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.copright_footer .copyright_links {
    display: flex;
    align-items: center;
}

.copright_footer .copyright_links li {
    list-style: none;
    display: inline-block;
    border-right: 1px solid rgba(255, 255, 255);
}

.copright_footer .copyright_links li:last-child {
    border: none;
}

.copright_footer .copyright p {
    color: #fff;
    font-size: 14px;
}

.copright_footer .copyright_links li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
    padding: 10px;
}

@media only screen and (max-width:1245px) {
    #_footer_ {
        margin-left: 10px;
        margin-right: 10px;
    }

    #_footer_ .footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 70px;
    }

    .footer_logo {
        margin-right: 10px;
    }

    .footer_logo img {
        width: 100px;
    }

    .footer_bottom {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .footer_bottom li {
        list-style: none;
    }

    .footer_bottom h3 {
        font-size: 13px;
        padding-left: 13px;
    }

    .footer_bottom p {
        font-size: 12px;
        line-height: 20px;
        padding-left: 13px;
    }

    .footer_bottom .fa-map-marker {
        font-size: 16px;
        margin-right: 3px;
    }

    ._email_footer_ .fa-envelope {
        font-size: 16px;
        margin-right: 3px;
    }

    ._email_footer_ .email_written {
        margin-top: 10px;
        font-size: 12px;
    }

    ._email_footer_ .social_icons li {
        margin-top: 15px;
    }

    ._email_footer_ .social_icons li .fa {
        font-size: 16px;
        margin-left: 8px;
    }

    .copright_footer {
        margin-top: 30px;
        padding: 10px;
    }

    .copright_footer .copyright p {
        font-size: 12px;
    }

    .copright_footer .copyright_links li a {
        font-size: 12px;
        padding: 6px;
    }

}

@media only screen and (max-width:700px) {
    #_footer_ {
        margin-left: 10px;
        margin-right: 10px;
    }

    #_footer_ .footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 70px;
    }

    .footer_2 {
        display: block;
    }

    .footer_logo {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .footer_bottom {
        text-align: center;
        max-width: 100%;
        border-top: 1px solid rgba(255, 255, 255, .1);
        border-right: none;
    }

    .copyright {
        width: 100%;
        text-align: center;
    }

    .copright_footer .copyright_links {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .copright_footer .copyright_links li {
        border: none;
    }

    .copright_footer .copyright p {
        color: #fff;
        font-size: 12px;
    }

    .copright_footer .copyright_links li a {
        font-size: 12px;
        text-decoration: underline;
        letter-spacing: -0.2px;
    }
}

@media only screen and (max-width:412px) {

    .copright_footer .copyright_links li {
        margin-top: 10px;
        text-align: center;
        line-height: 10px;
    }

    .copright_footer .copyright_links li a {
        font-size: 10px;
        text-decoration: underline;
        letter-spacing: -0.2px;
    }
}