@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


/* ----------------------------------------------- header ----------------------------------------------- */

#nav_header {
    background: #fff;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    padding: 20px;
    position: fixed;
    transition: 0.3s;
    z-index: 100;
}

.sticky {
    padding: 15px !important;
    background: #fffef7f5 !important;
    transition: 0.3s;
}

#logo {
    width: 118px;
}

.left_nav {
    margin-left: 40px;
}

.left_nav .left_nav_links {
    display: inline-block;
    margin-left: 30px;
}

.active_link {
    background: transparent;
    border-bottom: 3px solid #0f708a;
}

.left_nav .left_nav_links .left_nav_links_a {
    text-decoration: none;
    color: #333;
    font-size: 13px;
    letter-spacing: -0.3px;
}

.right_nav {
    margin-left: 60px;
}

.right_nav .right_nav_links {
    display: inline-block;
    margin-left: 20px;
}

.right_nav .right_nav_links .right_nav_links_a {
    text-decoration: none;
    color: #333;
    font-size: 13px;
    letter-spacing: -0.3px;
}

.right_nav .right_nav_links .call_number {
    text-decoration: none;
    color: #333;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -0.3px;
    transition: 0.3s;
}

.right_nav .right_nav_links .call_number:hover {
    color: #f51e52;
}

.right_nav .right_nav_links .in_touch_btn {
    text-decoration: none;
    background: #0f708a;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 30px;
    border-radius: 5px;
    box-shadow: 0 1px 20px rgb(0 0 0 / 20%);
}

.right_nav .right_nav_links .in_touch_btn:hover {
    background: #f51e52;
    color: #fff;
    box-shadow: 0 7px 18px 0 rgb(0 0 0 / 30%);
    transform: translateY(-5px);
    transition: all ease-in-out .3s;
}

#nav_header #menu_open_btn {
    display: none;
    position: fixed;
    background: #0f708a;
    padding: 10px;
    width: 35px;
    top: 3%;
    right: 3%;
}

@media only screen and (max-width:1345px) {
    #nav_header {
        padding: 15px;
    }

    #nav_header #logo {
        width: 90px;
        margin-right: 10px;
        margin-top: 8px;
    }

    #nav_header .left_nav {
        margin-left: 0px;
    }

    #nav_header .left_nav .left_nav_links {
        border: none;
        margin-left: 10px;
    }

    #nav_header .left_nav .left_nav_links .left_nav_links_a {
        font-size: 12px;
        letter-spacing: -0.3px;
    }

    #nav_header .right_nav {
        margin-left: 30px;
    }

    #nav_header .right_nav .right_nav_links {
        display: inline-block;
        margin-left: 10px;
    }

    #nav_header .right_nav .right_nav_links .right_nav_links_a {
        font-size: 12px;
    }

    #nav_header .right_nav .right_nav_links .call_number {
        font-size: 12px;
        font-weight: 600;
    }

    #nav_header .right_nav .right_nav_links .in_touch_btn {
        font-size: 12px;
        font-weight: 400;
        padding: 5px 20px;
    }
}

@media only screen and (max-width:1030px) {
    #nav_header #menu_open_btn {
        display: block;
    }

    #nav_header {
        margin: 0;
        margin-top: -10px;
        display: block;
        background: #fffeed;
        width: 100%;
        height: 102%;
        position: fixed;
        right: -100%;
        transition: 0.5s ease-in-out;
    }

    #nav_header .left_nav {
        text-align: center;
        margin-top: 30px;
    }

    #nav_header .left_nav .left_nav_links {
        display: block;
        margin-top: 20px;
    }

    #nav_header .left_nav .left_nav_links .left_nav_links_a {
        font-size: 14px;
        font-weight: 500;
    }

    #nav_header .right_nav {
        margin: 0;
        text-align: center;
    }

    #nav_header .right_nav .right_nav_links {
        display: block;
        margin-top: 20px;
    }

    #nav_header .right_nav .right_nav_links .right_nav_links_a {
        font-size: 14px;
        font-weight: 500;
    }

    #nav_header .right_nav .right_nav_links .call_number {
        font-size: 15px;
        font-weight: 700;
    }

    #nav_header .right_nav .right_nav_links .in_touch_btn {
        font-size: 15px;
        font-weight: 700;
    }

}

/* ----------------------------------------------- main content ----------------------------------------------- */

#banner {
    height: 100vh;
    padding-top: 120px;
}

.our_work_container {
    padding: 30px;
}

.top_para_our_work {
    text-align: center;
}

.top_para_our_work .title_h2 h2 {
    font-size: 32px;
    font-weight: 600;
    color: #0f708a;
    margin-bottom: 20px;
}

.top_para_our_work .top_para_our_work_content p {
    font-size: 20px;
    font-weight: 300;
    color: #111;
    line-height: 32px;
    letter-spacing: -0.3px;
    font-family: 'Roboto', sans-serif;
}

.our_work_div {
    margin-top: 60px;
}

.our_work_div_col_1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.our_work_div .our_work_div_col_1 .our_work_1 {
    display: inline-block;
    cursor: pointer;
    margin: 3px;
}

.our_work_div .our_work_div_col_1 .our_work_1 .our_work_img {
    width: 426px;
    height: 426px;
    overflow: hidden;
}

.our_work_div .our_work_div_col_1 .our_work_1 .our_work_img img {
    width: 426px;
    transition: 0.5s;
}

.our_work_1 .our_work_img img:hover {
    transform: scale(1.05);
    transition: 1s;
}

.featured_clints {
    margin-top: 100px;
}

.featured_clints .featured_title h2 {
    font-size: 32px;
    font-weight: 600;
    color: #0f708a;
    margin-bottom: 60px;
    text-align: center;
}

.featured_clints .featured_clint_ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.featured_clints .featured_clint_li {
    display: inline-flex;
    align-items: center;
    height: 140px;
    padding: 10px 40px;
    margin: 1%;
    transition: .3s;
    border: 1px solid #ededed;
    cursor: pointer;
}

.featured_clints .featured_clint_li:hover {
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}

.featured_clints .featured_clint_li img {
    width: 150px;
}

@media only screen and (max-width:1345px) {
    #banner {
        height: 100vh;
        padding-top: 80px;
    }

    .our_work_container {
        padding: 20px;
    }

    .top_para_our_work {
        text-align: center;
    }

    .top_para_our_work .title_h2 h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .top_para_our_work .top_para_our_work_content p {
        font-size: 18px;
    }

    .our_work_div .our_work_div_col_1 .our_work_1 {
        margin: 3px;
    }

    .our_work_div .our_work_div_col_1 .our_work_1 .our_work_img {
        width: 300px;
        height: 300px;
        overflow: hidden;
    }

    .our_work_div .our_work_div_col_1 .our_work_1 .our_work_img img {
        width: 426px;
    }

    .featured_clints .featured_title h2 {
        font-size: 28px;
    }

    .featured_clints .featured_clint_ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }


    .featured_clints .featured_clint_li {
        height: 140px;
        padding: 8px 30px;
        margin: 0.3%;
    }

    .featured_clints .featured_clint_li img {
        width: 130px;
    }
}

@media only screen and (max-width:920px) {
    #banner {
        height: 100vh;
        padding-top: 30px;
    }

    .our_work_container {
        padding: 20px;
    }

    .top_para_our_work {
        text-align: center;
    }

    .top_para_our_work .title_h2 h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .top_para_our_work .top_para_our_work_content p {
        font-size: 18px;
    }

    .our_work_div .our_work_div_col_1 .our_work_1 {
        margin: 10px;
    }

    .our_work_div .our_work_div_col_1 .our_work_1 .our_work_img {
        width: 200px;
        height: 200px;
        overflow: hidden;
    }

    .our_work_div .our_work_div_col_1 .our_work_1 .our_work_img img {
        width: 200px;
    }

    .featured_clints .featured_title h2 {
        font-size: 28px;
    }

    .featured_clints .featured_clint_li {
        height: 140px;
        padding: 8px 30px;
        margin: 0.3%;
    }

    .featured_clints .featured_clint_li img {
        width: 130px;
    }
}

@media only screen and (max-width:660px) {
    #banner {
        height: 100vh;
        padding-top: 30px;
    }

    .our_work_container {
        padding: 20px;
    }

    .top_para_our_work {
        text-align: center;
    }

    .top_para_our_work .title_h2 h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .top_para_our_work .top_para_our_work_content p {
        font-size: 18px;
    }

    .our_work_div .our_work_div_col_1 .our_work_1 {
        margin: 15px;
    }

    .our_work_div .our_work_div_col_1 .our_work_1 .our_work_img {
        width: 140px;
        height: 140px;
        overflow: hidden;
    }

    .our_work_div .our_work_div_col_1 .our_work_1 .our_work_img img {
        width: 140px;
    }

    .featured_clints .featured_title h2 {
        font-size: 28px;
    }

    .featured_clints .featured_clint_li {
        height: 140px;
        padding: 8px 30px;
        margin: 0.3%;
    }

    .featured_clints .featured_clint_li img {
        width: 130px;
    }
}

@media only screen and (max-width:490px) {
    .top_para_our_work .title_h2 h2 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .top_para_our_work .top_para_our_work_content p {
        font-size: 14px;
        line-height: 20px;
    }

    .our_work_div {
        margin-top: 30px;
    }

    .our_work_div .our_work_div_col_1 .our_work_1 {
        margin: 3px;
    }

    .our_work_div .our_work_div_col_1 .our_work_1 .our_work_img {
        width: 100px;
        height: 100px;
    }

    .our_work_div .our_work_div_col_1 .our_work_1 .our_work_img img {
        width: 100px;
    }

    .featured_clints {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .featured_clints .featured_title h2 {
        font-size: 22px;
    }

    .featured_clints .featured_clint_li {
        height: 80px;
        padding: 4px 12px;
        margin: 0.3%;
    }

    .featured_clints .featured_clint_li img {
        width: 110px;
    }
}

/* --------------------------------------------------- footer --------------------------------------------------- */

.subscribe {
    background-color: #16253d;
    padding: 60px 0;
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
}

.subscribe_2 {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.news_letter_detail {
    width: 600px;
}

.news_letter_detail p {
    position: relative;
    padding-left: 90px;
    font-family: Heebo, sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 0;
    line-height: 1.3;
    color: #fff;
}

.news_letter_detail p::before {
    content: url(envelope-subscribe.png);
    position: absolute;
    left: 0;
    top: 0;
}

.news_letter #full_name {
    height: 50px;
    font-size: 18px !important;
    font-weight: 300;
    color: grey;
    outline: 0;
    font-style: normal !important;
    border-radius: 3px;
    border: none;
    padding: 15px;
}

.news_letter #email_name {
    height: 50px;
    font-size: 18px !important;
    font-weight: 300;
    color: grey;
    outline: 0;
    font-style: normal !important;
    border-radius: 3px;
    border: none;
    padding: 15px;
}

#submit {
    background: #f51e52;
    font-weight: 600;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    border: none;
    transition: 0.5s;
    padding: 11px 35px;
    cursor: pointer;
}

#submit:hover {
    color: #f51e52;
    background: #fff;
}

@media only screen and (max-width:1275px) {
    .subscribe_2 {
        align-items: center;
        justify-content: center;
    }

    .news_letter_detail p {
        position: relative;
        font-family: Heebo, sans-serif;
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 0;
        line-height: 1.3;
        color: #fff;
    }


    .news_letter {
        margin-top: 20px;
        width: 300px;
        text-align: center;
    }

    .news_letter #full_name {
        height: 50px;
        font-size: 18px !important;
        font-weight: 300;
        color: grey;
        outline: 0;
        font-style: normal !important;
        border-radius: 3px;
        border: none;
        padding: 15px;
        margin: 5px;
    }


    .news_letter #email_name {
        height: 50px;
        font-size: 18px !important;
        font-weight: 300;
        color: grey;
        outline: 0;
        font-style: normal !important;
        border-radius: 3px;
        border: none;
        padding: 15px;
        margin: 5px;
    }

    .news_letter #submit {
        margin: 5px;
        width: 245px;
    }
}

.contact {
    background-image: url(contact_banner.png);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin-top: 200px;
    margin-left: 15px;
    margin-right: 15px;
}

.contact_1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact_form {
    background-color: #16253d;
    padding: 50px;
    width: 420px;
    background: #16253d;
}

.contact_title h1 {
    font-family: Heebo, sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 28px;
    margin: 0px 0px 10px;
}

.contact_form input {
    padding-left: 15px;
    margin-top: 15px;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    outline: none;
}

.contact_submit_btn {
    margin-top: 30px;
    background: #f51e52;
    color: #fff;
    font-style: normal !important;
    font-size: 20px !important;
    cursor: pointer;
    font-weight: 600 !important;
    text-align: center;
    transition: .15s;
}

.contact_submit_btn:hover {
    border: 1px solid #f51e52;
    background: transparent;
    color: #f51e52;
}

@media only screen and (max-width:1250px) {
    .contact {
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .contact_form {
        padding: 20px;
        width: 380px;
    }

    .contact_title h1 {
        font-size: 24px;
    }

    .contact_form input {
        padding-left: 10px;
        margin-top: 10px;
        height: 35px;
        font-size: 12px;
    }
}

@media only screen and (max-width:800px) {
    .contact {
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .contact_1 {
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .contact_form {
        padding: 20px;
        width: 340px;
    }

    .contact_title h1 {
        font-size: 20px;
    }

    .contact_form input {
        padding-left: 10px;
        margin-top: 10px;
        height: 35px;
        font-size: 12px;
    }

    .contact_submit_btn {
        font-size: 14px !important;
        font-weight: 500 !important;
    }
}

#_footer_ {
    background: #16253d;
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

#_footer_ .footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}

.footer_2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_logo {
    margin-right: 60px;
}

.footer_bottom {
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer_bottom li {
    list-style: none;
}

.footer_bottom h3 {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: normal;
}

.footer_bottom p {
    letter-spacing: -0.3px;
    margin-top: 5px;
    color: #fff;
    font-size: 13px;
    line-height: 32px;
    font-weight: 300;
    padding-left: 15px;
}

.footer_bottom .fa-map-marker {
    color: #f51e52;
    font-size: 18px;
    margin-right: 5px;
}

._email_footer_ {
    border: none;
}

._email_footer_ .fa-envelope {
    color: #f51e52;
    font-size: 18px;
    margin-right: 10px;
}

._email_footer_ .email_written {
    margin-top: 15px;
    color: #fff;
    font-weight: 300;
    font-size: 13px;
    transition: 0.5s;
}

._email_footer_ .email_written:hover {
    color: #f51e52;
    text-decoration: none;
}

._email_footer_ .social_icons li {
    display: inline-block;
    margin-top: 20px;
}

._email_footer_ .social_icons li .fa {
    font-size: 20px;
    color: #f51e52;
    transition: 0.5s;
    margin-left: 15px;
}

._email_footer_ .social_icons li .fa:hover {
    color: #fff;
}

.copright_footer {
    margin-top: 60px;
    padding: 15px;
    border-top: 1px solid rgba(255, 255, 255, .1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.copright_footer .copyright_links {
    display: flex;
    align-items: center;
}

.copright_footer .copyright_links li {
    list-style: none;
    display: inline-block;
    border-right: 1px solid rgba(255, 255, 255);
}

.copright_footer .copyright_links li:last-child {
    border: none;
}

.copright_footer .copyright p {
    color: #fff;
    font-size: 14px;
}

.copright_footer .copyright_links li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
    padding: 10px;
}

@media only screen and (max-width:1245px) {
    #_footer_ {
        margin-left: 10px;
        margin-right: 10px;
    }

    #_footer_ .footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 70px;
    }

    .footer_logo {
        margin-right: 10px;
    }

    .footer_logo img {
        width: 100px;
    }

    .footer_bottom {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .footer_bottom li {
        list-style: none;
    }

    .footer_bottom h3 {
        font-size: 13px;
        padding-left: 13px;
    }

    .footer_bottom p {
        font-size: 12px;
        line-height: 20px;
        padding-left: 13px;
    }

    .footer_bottom .fa-map-marker {
        font-size: 16px;
        margin-right: 3px;
    }

    ._email_footer_ .fa-envelope {
        font-size: 16px;
        margin-right: 3px;
    }

    ._email_footer_ .email_written {
        margin-top: 10px;
        font-size: 12px;
    }

    ._email_footer_ .social_icons li {
        margin-top: 15px;
    }

    ._email_footer_ .social_icons li .fa {
        font-size: 16px;
        margin-left: 8px;
    }

    .copright_footer {
        margin-top: 30px;
        padding: 10px;
    }

    .copright_footer .copyright p {
        font-size: 12px;
    }

    .copright_footer .copyright_links li a {
        font-size: 12px;
        padding: 6px;
    }

}

@media only screen and (max-width:700px) {
    #_footer_ {
        margin-left: 10px;
        margin-right: 10px;
    }

    #_footer_ .footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 70px;
    }

    .footer_2 {
        display: block;
    }

    .footer_logo {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .footer_bottom {
        text-align: center;
        max-width: 100%;
        border-top: 1px solid rgba(255, 255, 255, .1);
        border-right: none;
    }

    .copyright {
        width: 100%;
        text-align: center;
    }

    .copright_footer .copyright_links {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .copright_footer .copyright_links li {
        border: none;
    }

    .copright_footer .copyright p {
        color: #fff;
        font-size: 12px;
    }

    .copright_footer .copyright_links li a {
        font-size: 12px;
        text-decoration: underline;
        letter-spacing: -0.2px;
    }
}

@media only screen and (max-width:412px) {

    .copright_footer .copyright_links li {
        margin-top: 10px;
        text-align: center;
        line-height: 10px;
    }

    .copright_footer .copyright_links li a {
        font-size: 10px;
        text-decoration: underline;
        letter-spacing: -0.2px;
    }
}